@import '../theme/core.scss';

.root {
  flex: 1;
  background-color: #ffff;
  height: '100vh';
}

.ImSoDoneWithItNavBar {
  width: 100%;
}

.greeting {
  color: black;
  font-size: 60px;
  text-align: left;
  width: 100%;
  padding-left: 70px;
}

.flexboxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
  margin-top: 10px;
}

.flexboxItem1 {
  width: 100;
  margin: 10px;
  margin-left: 70px;
}

.flexboxItem2 {
  width: 100;
  margin-left: auto;
  margin-right: 610px;
}

.introL {
  color: #000;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}

.introR {
  color: #000;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}

.BIGflexbox {
  display: flex;
  justify-content: space-between;
}

.SMALLflexbox1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-height: 500px;
}

.MINIflexboxEvent {
  margin-left: 70px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.01), 0px 4px 8px rgba(0, 0, 0, 0.02),
    0px 1px 12px rgba(0, 0, 0, 0.12);
  background: #ffffff;
  border-radius: 4px;
  width: 360px;
  height: 118px;
}

.EventComponent1 {
  height: 24px;
  left: 16px;
  right: 128px;
  top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
  margin-left: 16px;
  letter-spacing: 0.01em;
  color: #263238;
  display: inline-block;
}

.EventComponent2 {
  margin-top: 8px;
  margin-left: 16px;
  left: 16px;
  right: 128px;
  top: 48px;
  bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #263238;
  opacity: 0.8;
  display: flex;
  align-items: flex-end;
  display: inline-block;
}

.EventComponent3 {
  height: 24px;
  left: 16px;
  right: 128px;
  bottom: 16px;
  margin-left: 16px;
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  color: #263238;
  opacity: 0.54;
  display: inline-block;
}

.EventComponent4 {
  display: block;
  margin-left: auto;
  float: right;
  display: flex;
  flex-wrap: wrap;
}

.SMALLflexbox2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 430px;
  max-height: 590px;
}

.MINIflexboxTeam {
  margin-right: 30px;
  flex-basis: 50%;
}

.TeamComponent {
  width: 360px;
  height: 200px;
}

.buttonContainer {
  @include phone {
    width: 100%;
    max-width: 100%;
    margin: rem(120) rem(16);
  }
}

.logout {
  margin-top: 10px;
  display: inline-block;
  height: rem(50);
}