@import '../../theme/core.scss';

.root {
  flex: 1;
  background-color: #ffff;
  height: 100vh;
}

.greeting {
  color: black;
  font-size: rem(45);
  text-align: left;
  width: 100%;
  padding-left: 70px;
}

.flexboxContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
  margin-top: 45px;
}

.flexboxItem1 {
  width: 100;
  margin: 10px;
  margin-left: 70px;
}

.flexboxItem2 {
  width: 100;
  margin-left: auto;
  margin-right: 490px;
}

.introL {
  color: #000;
}

.introR {
  color: #000;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}

.BIGflexbox {
  display: flex;
  justify-content: left;
  margin-left: 20px;
}

.SMALLflexbox1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.MINIflexboxEvent {
  max-width: 400px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.EventComponent {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.01), 0px 4px 8px rgba(0, 0, 0, 0.02),
    0px 1px 12px rgba(0, 0, 0, 0.12);
  background: #ffffff;
  border-radius: 4px;
  width: 360px;
  height: 128px;
}

.SMALLflexbox2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.MINIflexboxTeam {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.TeamComponent {
  margin: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  max-width: rem(480);
  margin-top: rem(120);

  @include phone {
    width: 100%;
    max-width: 100%;
    margin: rem(120) rem(16);
  }
}

.logout {
  width: 45%;
  height: rem(50);
}
