@import '../../theme/core.scss';

.root {
  flex: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  background: url(https://media.discordapp.net/attachments/1025178974290194492/1026051243589783593/upscaled_bgnd.jpg?width=1014&height=676);
  background-repeat: no-repeat;
  background-size: cover;

  @include tablet-or-less {
    flex-direction: column;
  }
}

.root:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  border-left: 60vw solid transparent;
  border-bottom: 70vh solid white;
  width: 0;
}

.leftContainer {
  flex: 1;
  flex-direction: column;
  margin-left: rem(70);
  margin-right: rem(20);
  z-index: 2;

  @include tablet-or-less {
    width: 100%;
    padding: rem(32) rem(16);
  }

  @include breakpoint-down(1120) {
    padding: rem(32) rem(16);
    flex: 3;
  }
}

.rightContainer {
  @extend .leftContainer;

  @include tablet-or-less {
    width: 100%;
    padding: 0 rem(24) rem(24);
  }

  @include breakpoint-down(1120) {
    padding: rem(24);
    flex: 5;
  }
}

.logo {
  display: block;
  width: rem(600);
  margin-bottom: rem(16);
  text-align: left;

  @include tablet-or-less {
    width: rem(120);
  }
}

.header {
  font-size: rem(35);
  color: white !important;
  text-align: left;
  margin-bottom: rem(15);

  @include tablet-or-less {
    font-size: rem(32);
    margin-bottom: rem(16);
  }
}

.title {
  font-weight: bold;
  font-style: normal;
  font-size: rem(24);
  color: white;
  text-align: center;
  margin-bottom: rem(16);
}

.description {
  font-size: rem(16);
  line-height: rem(19);
  text-align: left;
  color: white;
  margin-bottom: rem(48);
}

.prompt {
  font-weight: bold;
  font-size: rem(16);
  color: white;
  text-decoration: underline;
  text-align: center;
}
