.header {
    font-weight: 700;
    font-size: 80px;
    line-height: 97px;
    display: flex;
    align-items: center;

    color: #000000;
    position: absolute;
    height: 73px;
    left: 235px;
    right: 839px;
    top: 288px;
}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 160px;
}