.scardgrid {
  display: grid;
  place-content: center;
  grid-template-columns: 1 1;
  grid-template-rows: 1 2;
}

.scardright {
  display: grid;
  text-align: right;
}

.scardleft {
}

.scardbottom {
}
